body {
  background-color: #FCFCFC;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 500px;
  height: 100vh;
  background-color: #F8FAFA;
   box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.05);

}

.content-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
}

.content-title {
  margin: 30px 0 0;
}
.content-title--text {
  color: #C4C6CE;
  font-size: medium;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.content {
  padding: 0 20px;
}

.content-card {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px 20px;
  border-radius: 5px;
  border-left: 12px solid #89D8C9;
   box-shadow: 0px 0px 30px .5px rgba(0, 0, 0, 0.1);
   margin-top: 30px;

}

.card-button {
  margin-left: auto;
  text-decoration: none;
  color: white;
  background-color: #6CDCEB;
  padding: 8px 16px;
  border-radius: 50px;
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  border-color: white;
  border-style: solid;
  box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.card-text-header--text {
  color: #24252cd8;
  font-weight: 700;
}

.card-text-header--sub {
  color: rgb(193, 199, 199);
  font-size: 18px;
  padding-top: 10px;
}

.yellow {
  background-color: #FCC94E;
}

.none {
  display: none;
}